[Desktop Entry]
Type=Application
Name=screen-fg
Name[zh_TW]=screen-fg 插帧控制
Comment=screen-fg 插帧 GUI 控制器
Exec=screen-fg-gui
Icon=video-display
Terminal=false
Categories=Video;
